@import '../_colors.scss';

footer {
  .footer-left {
    .social-bar-container {
      .social-bar {
        li {
        }
        .fab {
        }
      }
    }
  }
  .footer-right {
    .badge {
    }
  }
}